body
{
  padding-top: 50px;
  width: 100%;
  background-color: #fff;
}

.separator-last {
  height: 50px;
  background-image: -webkit-linear-gradient(top, #222222 0%, #3c3c3c 100%);
  background-image: -o-linear-gradient(top, #222222 0%, #3c3c3c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#3c3c3c));
  background-image: linear-gradient(to bottom, #222222 0%, #3c3c3c 100%);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

hr.separator-top { 
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 2px 0 0 0; 
  border-radius: 20px; 
} 
hr.separator-bottom { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 2px 0; 
  border-radius: 20px; 
}

.section {
  padding-top: 40px;
  padding-bottom: 60px;
}

hr.underline {
  border: 0; 
  height: 2px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.intro-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.custom-jumbotron {
  background-color:transparent !important;
  padding-top: 20px;
}

@media (min-width: 1920px) {
  .intro-header {
    height: 650px;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .intro-header {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .intro-header {
    height: 350px;
  }
}

@media (max-width: 767px) {
  #navbar-img {
    height: 40px;
  }
  .navbar-brand {
    padding: 5px 5px 5px 5px;
  }
  .intro-header {
    height: 250px;
  }
}