body
{
  margin: 0px;
  width: 100%;
  background-color: #fff;
}

header{
  width: 100%;
}

#img_header{
  width: 100%;
  margin: 0 auto;
  height: 200px;
}

.navbar-custom {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  width: 100%;
  z-index: 3;
}
.navbar-custom .navbar-brand {
  vertical-align: middle;
  font-weight: 800;
  color: white; 
}
