<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My weather</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" style="margin-left: 0px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Weather</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div>
      <img id="img_header" src= "{{ image_name }}" />
    </div>
    <div>
      {% if numPills > 1 %}
      <ul class="nav nav-pills nav-justified">
        {% if liveDataEnable %}
        <li class="active"><a data-toggle="pill" href="#livedata">Live Data</a></li>
        {% endif %}
        {% if historyEnable %}
        <li><a data-toggle="pill" href="#chart1">History</a></li>
        {% endif %}
        {% if dailyHistoryEnable %}
        <li><a data-toggle="pill" href="#chart2">Daily History</a></li>
        {% endif %}
      </ul>
      <div class="tab-content">
      {% endif %}

        {% if liveDataEnable %}
          {% if numPills > 1 %}
          <div class="tab-pane fade in active" id="livedata">
          {% endif %}
            <table id="currentDataTable" class="table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
              {% for key, value in liveData.iteritems() %}
                <tr>
                  <td>{{ key|e }}</td>
                  <td id="{{ key|e }}">{{ value|e }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% if numPills > 1 %}
          </div>
          {% endif %}
        {% endif %}

        {% if historyEnable %}
          {% if numPills > 1 %}
          <div class="tab-pane fade" id="chart1">
          {% endif %}
            <div id="{{ historyChart['chartID']|safe }}" class="chart" style="width: 95%; margin: 0 auto;"></div>
          {% if numPills > 1 %}
          </div>
          {% endif %}
        {% endif %}

        {% if dailyHistoryEnable %}
          {% if numPills > 1 %}
          <div class="tab-pane fade" id="chart2">
          {% endif %}
            2
          {% if numPills > 1 %}
          </div>
          {% endif %}
        {% endif %}

      {% if numPills > 1 %}
      </div>  
      {% endif %}
    </div>
    <script>
      var chart_id = {{ historyChart['chartID']|safe }}
      var height = {{ historyChart['height']|safe }}
      var yAxis = {{ historyChart['yAxis']|safe }}
      var chart_name = "{{ historyChart['chartName']|string }}"
      var series = {{ historyChart['series']|safe }}
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart_with_data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/live_data.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  </body>
</html>