<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ webpageTitle|string }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/live_data.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart_configuration.js') }}"></script>
  <script src="{{ url_for('static', filename='js/historyChart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dailyHistoryChart.js') }}"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top"><img id="navbar-img" src="{{ url_for('static', filename='img/icon.png')}}"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if liveDataEnable %}
            <li>
              <a class="page-scroll" href="#livedata">{{ liveData['name']|string }}</a>
            </li>
          {% endif %}
          {% if historyEnable %}
            <li>
              <a class="page-scroll" href="#chart1">{{ historyChart['name']|string }}</a>
            </li>
          {% endif %}
          {% if dailyHistoryEnable %}
            <li>
              <a class="page-scroll" href="#chart2">{{ dailyHistoryChart['name']|string }}</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <header class="intro-header" id='header'>
    <a href="https://github.com/vilaseca11/Weather-station"><img style="position: absolute; top: 50; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="jumbotron custom-jumbotron">
      <div class="container">
        <h1>{{ webpageTitle|string }}</h1>      
        <p>{{ webpageSubtitle|string }}</p>
      </div>
    </div>
  </header>

  <!-- Live Data block -->
  <div>
    {% if liveDataEnable %}
      <hr class="separator-top">
      <div id="livedata" class="section">
        <div class="container">
          <div class="col-lg-12 table-responsive">
            <h2 class="text-center">{{ liveData['name']|string }}</h2>
            <hr class="underline">
            <table id="currentDataTable" class="table">
              <thead>
                <tr>
                  <th>{{ liveData['header']['type']|string }}</th>
                  <th>{{ liveData['header']['value']|string }}</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in liveData['sensorNames'].items() %}
                  <tr>
                    <td>{{ value|string }}</td>
                    <td id="{{ key|string }}"></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr class="separator-bottom">
    {% endif %}

    <!-- History Chart block -->

    {% if historyEnable %}
      <hr class="separator-top">
      <div id="chart1" class="section">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h2>{{ historyChart['name']|string }}</h2>
            <hr class="underline">
            <div id="{{ historyChart['chartID']|safe }}" class="chart"></div>
          </div>
        </div>
      </div>
      <hr class="separator-bottom">
    {% endif %}

    <!-- Daily History Chart block -->

    {% if dailyHistoryEnable %}
      <hr class="separator-top">
      <div id="chart2" class="section">
        <div class="container">
          <div class="col-lg-12 text-center">
            <h2>{{ dailyHistoryChart['name']|string }}</h2>
            <hr class="underline">
            <div id="{{ dailyHistoryChart['chartID']|safe }}" class="chart"></div>
          </div>
        </div>
      </div>
      <hr class="separator-bottom">
    {% endif %}

    <div class="separator-last"></div>

  </div>

  <script>
    var hChart_id = {{ historyChart['chartID']|safe }}
    var hHeight = {{ historyChart['height']|safe }}
    var hYAxis = {{ historyChart['yAxis']|tojson }}
    var hChart_name = "{{ historyChart['name']|string }}"
    var hSeries = {{ historyChart['series']|tojson }}

    var dhChart_id = {{ dailyHistoryChart['chartID']|safe }}
    var dhHeight = {{ dailyHistoryChart['height']|safe }}
    var dhYAxis = {{ dailyHistoryChart['yAxis']|tojson }}
    var dhChart_name = "{{ dailyHistoryChart['name']|string }}"
    var dhSeries = {{ dailyHistoryChart['series']|tojson }}
  </script>
</body>
</html>