<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My weather</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" style="margin-left: 0px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Weather</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div>
      <img id="img_header" src= "{{ image_name }}" />
    </div>
    <div>
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a data-toggle="tab" href="#livedata">Live Data</a></li>
        <li><a data-toggle="tab" href="#chart1">History</a></li>
        <li><a data-toggle="tab" href="#chart2">Daily History</a></li>
      <div class="tab-content">
        <div class="tab-pane" id="livedata">
          <div id="log"></div>
        </div>
        <div class="tab-pane" id="chart1">
          <div id={{ chart['chartID']|safe }} class="chart" style="width: 95%; margin: 0 auto;"></div>
        </div>
        <div class="tab-pane" id="chart2">
          2
        </div>
      </div>  
    <div>
    <script>
      var chart_id = {{ chart['chartID']|safe }}
      var height = {{ chart['height']|safe }}
      var yAxis = {{ chart['yAxis']|safe }}
      var chart_name = {{ chart['chartName']|safe }}
      var series = {{ chart['series']|safe }}
    </script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://code.highcharts.com/stock/highstock.js"></script>
      <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
      <script src="{{ url_for('static', filename='js/chart_with_data.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
  </body>
</html>